# Bytecode de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Archivos de log
execution.log

# Archivos generados por el sandbox
sandbox/in/*
sandbox/out/*
sandbox/keys/*

# No ignorar los .keep necesarios
!sandbox/in/.keep
!sandbox/out/.keep
!sandbox/keys/.keep

# Escrow (mantener carpeta pero ignorar archivos)
escrow/*
!escrow/.keep

# Archivos de pruebas
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db
